:root {
    --dark-1: #111111;
    --dark-2: #555555;
    --dark-3: #777777;
    --dark-4: #999999;
    --light-1: #FFFFFF;
    --light-2: #EEEEEE;
    --color-three: rgba(0, 0, 0, 0.12);
    --orange: #FF8139;
    --green: #39FFA0;
    --red: #FF3939;
    --ligh-green: #EDFFF6;
    --light-orange: #FFF0E8;
    --pink: #FF3998;
}
html {
    width: 100vw;
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
}
body {
    max-width: 100%;
    margin-left: 80px;
    margin-right: 80px;
    background-color: var(--light-1);
    align-items: center;
    overflow-x: hidden;
}
header {
    display: flex;
    justify-content: space-between;
    padding-top: 48px;
    height: 36px;
    width: 100%;
}
header img {
    width: 12%;
}
.navigatio-bar {
    width: 100%;
}
.top-navigation a {
    text-decoration: none;
    color: var(--dark-2);
    padding: 8px;
}
.top-navigation a:last-of-type{
    color: var(--pink);
}
.top-navigation a:hover {
    color: var(--pink);
}
.section-1 {
    width: 100%;
    height: 560px;
    padding-top: 64px;
    margin-bottom: 100px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.hero {
    height: 120%;
    text-align: center;
}
.hero img {
    width: 100%;
    height: 100%;
}
.text {
    width: 50%;
    padding-top: 80px;
}
small {
    text-transform: uppercase;
    color: var(--pink);
    font-weight: 700;
    font-size: 16px;
}
h1 {
    font-weight: 800;
    font-size: 96px;
    margin: 0;
}
h2 {
    font-weight: 800;
    font-size: 56px;
    margin-top: 20px;
}
h3 {
    font-size: 40px;
    font-weight: 500;
    margin: 0%;
}
p {
    font-weight: 400;
    font-size: 20px;
    color: var(--dark-2);
}
button {
    width: 170px;
    height: 70px;
    background: none;
    border-radius: 35px;
    border: double 4px transparent;
    background-image: linear-gradient(white, white), linear-gradient(90deg, #FF3998, #FF8139);
    background-origin: border-box;
    background-clip: content-box, border-box;
    font-size: 18px;
    font-weight: 600;
  }
.section-2 {
    width: 100%;
    height: 160px;
    position: relative;
    padding: 120px 20px 0 20px;
    border-radius: 16px;
    color: var(--dark-1);
    background-image: url(file:///C:/Users/rutal/OneDrive/Stalinis%20kompiuteris/CodeAcademy/Egzaminas/assets/assets/background.svg);
    background-repeat: no-repeat;
    background-size: cover;
}
.section-press {
    width: 100%;
    height: 48px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    overflow: hidden;
    justify-content: space-between;
    margin-top: 100px;
}
.section-3 {
    width: 100%;
    height: 560px;
}
.section-3 a {
    color: var(--dark-2);
}
.section-3 a:hover {
    color: var(--pink);
}
.text-showcase {
    margin-top: 100px;
}
.text-showcase p span {
    text-decoration: underline;
}
.auction {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.gloop-series {
    margin-top: 48px;
    display: flex;
    flex-direction: column;
    width: 288px;
    height: 400px;
    background-color: var(--light-2);
    border-radius: 16px;
}
table {
    margin-top: 10px;
}
td img {
    height: 22px;
    width: 13px;
}
td:nth-child(even) {
    text-align: right;
}
tr:nth-child(1) td:nth-child(1) {
    color: var(--orange);
    font-size: 12px;
    font-weight: 500;
}
tr:nth-child(1) td:nth-child(2) {
    color: var(--dark-3);
    font-size: 12px;
    font-weight: 500;
}
tr:nth-child(2) {
    color: var(--dark-1);
    font-size: 12px;
    font-weight: 500;
}
tr:nth-child(3) {
    color: var(--dark-3);
    font-size: 20px;
    font-weight: 400;
}
td {
    padding: 6px;
}
.img {
    width: 288px;
    height: 278px;
}
.section-4 {
    width: 100%;
    height: 560px;
    padding-top: 122px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 100px;
    border-top: 3px solid var(--light-2);
    border-bottom: 3px solid var(--light-2);
}
.hero-1 {
    width: 50%;
}
.hero-1 img {
    height: 100%;
}
header img {
    width: 192px;
    height: 36px;
}
.burger-menu {
    display: none;
}
.footer-top {
    width: 100%;
    height: fit-content;
    padding-top: 122px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.right-side {
    display: flex;
    flex-direction: row;
}
.left-side a {
    text-decoration: none;
    color: var(--dark-4);
    padding: 8px;
}
ul li:first-of-type {
    padding-bottom: 20px;
    font-weight: 700;
    font-size: 16px;
    color: var(--dark-2)
}
ul li {
    padding: 10px;
    list-style: none;
    font-weight: 400;
    font-size: 16px;
    color: var(--dark-2)
}
li a {
    text-decoration: none;
    color: var(--dark-2)
}
li a:hover {
    color: var(--pink);
}
.footer-bottom {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: var(--dark-4);
}
/*Mobile version*/
@media screen and (min-width: 360px) and (max-width: 450px) {
    body {
        margin-left: 10px;
        margin-right: 10px;
    }
    .top-navigation {
        display: none;
    }
    .burger-menu {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        width: 32px;
        height: 32px;
    }
    .burger-menu div {
        width: 32px;
        height: 2px;
        background-color: var(--dark-4);
    }
    .section-1 {
        height: 960px;
        margin-bottom: 50px;
    }
    h1 {
        font-size: 45px;
        overflow: hidden;
    }
    p {
        display: flex;
        inline-size: 368px;
        font-size: large;
        overflow: hidden;
    }
    h2 {
        display: flex;
        inline-size: 368px;
        font-size: large;
        overflow: hidden;
    }
    .hero img {
        position: relative;
    }
    .text {
        display: flex;
        flex-wrap: wrap;
    }
    .section-press {
        height: 96px;
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        padding: 24px;
    }
    .footer-top {
        display: grid;
    }
    .right-side{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
    }
    .footer-bottom {
        overflow: hidden;
    }
}